// @font-face {
//   font-family: "KH";
//   src: url("../public/assets/fonts/Kingdom_Hearts_Font.ttf");
// }
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;700;900&display=swap');

.app {
font-family: 'Merienda';  
height: 100%;
  .container{
    display: grid;
  grid-template-areas: "nav nav"
                       "main main"
                       "footer footer";                   
  grid-template-columns:  1fr;
  grid-template-rows: 60px 1fr 50px;
  
    nav {
    background-color: rgb(118, 118, 212);
    grid-area: nav;
  }

    main {
      // background-color: antiquewhite;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      grid-area: main;
      width: 100%;
      margin: 0 auto;
      background-image: url("https://cdn.wallpapersafari.com/49/68/b8qzY4.jpg");
    } 
    footer {
    background-color: aquamarine;
    grid-area: footer;
  }
  }
    

 
}
